@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body {
  background: #21325e;
}

h1,
h2,
h4,
a,
p {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(248, 217, 15);
  color: #21325e;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  cursor: pointer;
}

.btn-light {
  padding: 12px 32px;
  background: transparent;
  color: #fff;
  border-radius: 0.5rem;
  border: 1px solid #fff;
}

.btn:hover {
  background: rgba(255, 255, 255, 0);
  color: #fff;
  transition: 0.3s ease-in-out;
}
